* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $background-color;
    font-size: 1.6rem;
    font-family: $default-font;
    color: $text-color;
    max-width: 1024px;
    // min-height: 100vh;
    margin: 0 auto;
    padding: 1rem 0rem;
}