nav {
    border: $text-color solid 0.05px;
    padding: 1rem;
    border-radius: .3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $text-color;

        .logo-img {
            display: flex;
            gap: 1rem;
        }
    }

    .nav-links {
        display: flex;
        gap: 2rem;
        & a {
            text-decoration: none;
            color: $text-color;
        }
    }

    .get {
        text-decoration: none;
        color: $text-color;
    }
    .hamburg-menu {
        border: none;
        background: transparent;
        & i {
            color: $text-color;
        }
    }
    @media (max-width: 1024px) {
        .hamburg-menu {
            display: none;
        }
        
    }
    @media (max-width: 465px) {
        margin: 0rem 1.6rem;
        .nav-links {
            display: none;
        }
        .get {
            display: none;
        }
    }
}