@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #020617;
  font-size: 1.6rem;
  font-family: "Inter", serif;
  color: #f8fafc;
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem 0rem;
}

.btn {
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
  background: #101010;
  color: #f8fafc;
  border: #f8fafc solid 0.05px;
  width: 100%;
}

.card-item {
  width: 50%;
  height: 50%;
  border: #f8fafc solid 0.05px;
  border-radius: 0.5rem;
  padding: 2rem;
}
.card-item .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-item .card-header .left p {
  font-size: 1rem;
  padding: 1rem 0rem;
}
.card-item .card-header .right {
  background-color: #101010;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-item .card-image {
  padding: 1rem 0rem;
  width: 100%;
  transition: all 0.4s ease-in-out;
}
.card-item .card-image img {
  height: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1.5rem;
}
.card-item .card-image:hover {
  scale: 1.05;
}

nav {
  border: #f8fafc solid 0.05px;
  padding: 1rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #f8fafc;
}
nav .logo .logo-img {
  display: flex;
  gap: 1rem;
}
nav .nav-links {
  display: flex;
  gap: 2rem;
}
nav .nav-links a {
  text-decoration: none;
  color: #f8fafc;
}
nav .get {
  text-decoration: none;
  color: #f8fafc;
}
nav .hamburg-menu {
  border: none;
  background: transparent;
}
nav .hamburg-menu i {
  color: #f8fafc;
}
@media (max-width: 1024px) {
  nav .hamburg-menu {
    display: none;
  }
}
@media (max-width: 465px) {
  nav {
    margin: 0rem 1.6rem;
  }
  nav .nav-links {
    display: none;
  }
  nav .get {
    display: none;
  }
}

.hero {
  display: flex;
  gap: 1.6rem;
  padding: 1.6rem 0rem;
  min-height: 80vh;
}
.hero .profile-card {
  width: 40%;
  height: 90vh;
  padding: 0rem 1.6rem;
  border: #f8fafc solid 0.05px;
  border-radius: 0.3rem;
}
.hero .profile-card .profile-image {
  width: 100%;
  height: 65%;
}
.hero .profile-card .profile-image img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .profile-card .profile-text {
  height: 35%;
}
.hero .profile-card .profile-text h3 {
  padding: 1.6rem 0rem;
}
.hero .profile-card .profile-text .profile-buttons {
  padding: 1rem 0rem;
  display: flex;
  gap: 1.6rem;
}
.hero .my-expert-area {
  width: 60%;
  height: 90vh;
}
.hero .my-expert-area .expert-heading-grid-container {
  border: #f8fafc solid 0.05px;
  border-radius: 0.3rem;
  padding: 1.6rem;
}
.hero .my-expert-area .expert-heading-grid-container .my-expert-heading {
  height: 5%;
}
.hero .my-expert-area .expert-heading-grid-container .my-expert-heading h2 {
  padding: 1.6rem 0rem;
}
.hero .my-expert-area .expert-heading-grid-container .my-expert-grid-container {
  height: 50%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}
.hero .my-expert-area .expert-heading-grid-container .my-expert-grid-container .my-expert-card .my-expert-icon {
  background-color: #101010;
  border: #f8fafc solid 0.05px;
  border-radius: 0.3rem;
  text-align: center;
  padding: 2rem;
}
.hero .my-expert-area .expert-heading-grid-container .my-expert-grid-container .my-expert-card .my-expert-icon i {
  font-size: 4rem;
}
.hero .my-expert-area .expert-heading-grid-container .my-expert-grid-container .my-expert-card .my-expert-icon h5 {
  padding: 1rem 0rem;
}
.hero .my-expert-area .my-expert-text-container {
  height: 45%;
  border: #f8fafc solid 0.05px;
  border-radius: 0.3rem;
  padding: 1rem;
  margin: 1.6rem 0rem;
}
.hero .my-expert-area .my-expert-text-container p {
  padding-top: 1.6rem;
}
.hero .my-expert-area .my-expert-text-container .bullets-container {
  display: flex;
}
.hero .my-expert-area .my-expert-text-container .bullets-container .bullets {
  display: flex;
  align-items: center;
  padding: 2rem 0rem;
}
.hero .my-expert-area .my-expert-text-container .bullets-container .bullets i {
  padding: 0rem 3rem;
}
@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    padding: 1.6rem;
  }
  .hero .profile-card {
    width: 100%;
    order: 1;
  }
  .hero .my-expert-area {
    width: 100%;
    order: 2;
    border: none;
  }
  .hero .my-expert-area .my-expert-heading {
    height: 5%;
  }
  .hero .my-expert-area .my-expert-grid-container {
    height: 110%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 1rem;
    border: #f8fafc solid 0.05px;
    border-radius: 0.3rem;
    padding: 1rem;
  }
  .hero .my-expert-area .my-expert-grid-container .my-expert-card .my-expert-icon {
    background-color: #101010;
    border: #f8fafc solid 0.05px;
    border-radius: 0.3rem;
    text-align: center;
    padding: 2rem;
  }
  .hero .my-expert-area .my-expert-grid-container .my-expert-card .my-expert-icon i {
    font-size: 4rem;
  }
  .hero .my-expert-area .my-expert-grid-container .my-expert-card .my-expert-icon h5 {
    padding: 1rem 0rem;
  }
  .hero .my-expert-area .my-expert-text-container {
    height: 40%;
    border: #f8fafc solid 0.05px;
    border-radius: 0.3rem;
    padding: 1rem;
    margin: 1.6rem 0rem;
  }
  .hero .my-expert-area .my-expert-text-container p {
    padding-top: 1.6rem;
  }
  .hero .my-expert-area .my-expert-text-container .bullets-container {
    display: flex;
  }
  .hero .my-expert-area .my-expert-text-container .bullets-container .bullets {
    display: flex;
    align-items: center;
    padding: 2rem 0rem;
  }
  .hero .my-expert-area .my-expert-text-container .bullets-container .bullets i {
    padding: 0rem 3rem;
  }
}
@media (max-width: 540px) {
  .hero {
    flex-direction: column;
    padding: 1.6rem;
    min-height: 100vh;
  }
  .hero .profile-card {
    width: 100%;
    order: 1;
  }
  .hero .my-expert-area {
    height: 170%;
    width: 100%;
    order: 2;
  }
  .hero .my-expert-area .my-expert-grid-container {
    height: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    border: #f8fafc solid 0.05px;
    border-radius: 0.3rem;
    padding: 1rem;
  }
  .hero .my-expert-area .my-expert-grid-container .my-expert-card .my-expert-icon {
    background-color: #101010;
    border: #f8fafc solid 0.05px;
    border-radius: 0.3rem;
    text-align: center;
    padding: 2rem;
  }
  .hero .my-expert-area .my-expert-grid-container .my-expert-card .my-expert-icon i {
    font-size: 4rem;
  }
  .hero .my-expert-area .my-expert-grid-container .my-expert-card .my-expert-icon h5 {
    padding: 1rem 0rem;
  }
  .hero .my-expert-area .my-expert-text-container {
    height: 50%;
  }
  .hero .my-expert-area .my-expert-text-container .bullets-container {
    flex-direction: column;
  }
}
@media (max-width: 465px) {
  .hero {
    flex-direction: column;
    padding: 1.6rem;
    min-height: 100vh;
  }
  .hero .profile-card {
    width: 100%;
    order: 1;
  }
  .hero .my-expert-area {
    height: 170%;
    width: 100%;
    order: 2;
  }
  .hero .my-expert-area .my-expert-grid-container {
    height: 50%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    border: #f8fafc solid 0.05px;
    border-radius: 0.3rem;
    padding: 1rem;
  }
  .hero .my-expert-area .my-expert-grid-container .my-expert-card .my-expert-icon {
    background-color: #101010;
    border: #f8fafc solid 0.05px;
    border-radius: 0.3rem;
    text-align: center;
    padding: 2rem;
  }
  .hero .my-expert-area .my-expert-grid-container .my-expert-card .my-expert-icon i {
    font-size: 4rem;
  }
  .hero .my-expert-area .my-expert-grid-container .my-expert-card .my-expert-icon h5 {
    padding: 1rem 0rem;
  }
  .hero .my-expert-area .my-expert-text-container {
    height: 50%;
  }
  .hero .my-expert-area .my-expert-text-container .bullets-container {
    flex-direction: column;
  }
}

.two-card-section {
  margin: 1.6rem 0rem;
  padding: 5rem 0rem;
  display: flex;
  gap: 1.6rem;
}
@media (max-width: 465px) {
  .two-card-section {
    flex-direction: column;
  }
  .two-card-section .card-item {
    width: 100%;
  }
}

.three-card-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.6rem;
}
.three-card-section .card-item {
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */